typeset brew_casks=(
    authy
    clion
    datagrip
    docker
    google-chrome
    intellij-idea
    iterm2
    mongodb-compass
    postman
    slack
    spotify
    visual-studio-code
    webstorm
)

typeset brew_packages=(
    mas
    node
    openvpn
    zsh
)

typeset brew_fonts=(
    fira-code
    hack-nerd-font
)

typeset app_store_applications=(
    937984704 # Amphetamine 
    406056744 # Evernote 
    # 441258766 # Magnet
)