typeset brew_casks=(
  authy
  clion
  datagrip
  docker
  google-chrome
  intellij-idea
  mongodb-compass
  postman
  notion
  slack
  spotify
  visual-studio-code
  adobe-acrobat-reader
)

typeset brew_packages=(
  mas
  node
  ruby
  zsh
  gradle
)

typeset brew_fonts=(
  fira-code
  hack-nerd-font
)

typeset vscode_extensions=(
  wmaurer.change-case
  dbaeumer.vscode-eslint
  file-icons.file-icons
  dracula-theme.theme-dracula
  andys8.jest-snippets
  bierner.markdown-preview-github-styles
  mohsen1.prettify-json
  tyriar.sort-lines
  tyriar.sort-lines
  orta.vscode-jest
)

typeset app_store_applications=(
  937984704 # Amphetamine
  961632517 # Be Focused Pro
)